footer.hero--footer.on-navigation.darken-blend
	section.wrap
		section.wrap-row.center
			.column--xsmall-12.column--small-9
				.column--inner

					hr.star

					p
						| &copy; کپی رایت ۱۳۹۴
						br
						| مدرسه استانداردهای وب، تحت حمایت&nbsp;
						a(href="http://www.majidonline.com/" target="_blank") مجید آنلاین
						| &nbsp;فعالیت می‌کند.
						br
						a(href="mailto:contact@wsschool.org" target="_self") تماس
						| ، 
						a(href="http://twitter.com/wsschool_org" target="_blank") توییتر
						| ، 
						a(href="http://facebook.com/wsschool" target="_blank") فیس‌بوک
						| ، 
						a(href="http://instagram.com/wsschool_org" target="_blank") اینستاگرام
						| .

					p
						a.siamak(href="http://siamak.us/?utm_campaign=Signature&utm_medium=banner&utm_source=WSSCHOOL" target="_blank" title="طراحی و اجرا؛ سیامک مختاری") 
							img(src="dist/img/svgs/siamak.svg", alt="سیامک مختاری")