header.hero--header.on-navigation
	section.wrap.hero--header-wrap
		section.hero--header-container
			.wrap-row.bottom.wrap-static
				section.column--xsmall-12.column--small-6.column--medium-6
					.column--inner

						h1
							img.primary--logo(src="dist/img/svgs/TheFutureOfWebDesign-logo.svg" alt="اولین همایش آینده طراحی وب")

						.hero--header-mast
							p همایش آینده طراحی وب یک رویداد دو روزه است برای طراحان و توسعه دهندگان Front–End و تمام کسانی که میخواهد وب فارسی را دگرگون و جذاب‌تر نمایند. در این رویداد ارائه دهندگان و سخنران‌ها تجربیات و تخصص خود را با علاقمندان به اشتراک می‌گذارند.
							.date-show
								time.inline
									span.days
										| &infin;
									span
										| روز
								time.inline
									span.hours
										| &infin;
									span
										| ساعت
								time.inline
									span.minutes
										| &infin;
									span
										| دقیقه
								time.inline
									span.seconds
										| &infin;
									span
										| ثانیه
								.inline تا شروع زمان باقی مانده است.

						.hero--header-mast
							a.button.radius.button-blue-light(href="#introduction") معرفی رویداد
							a.button.radius.button-blue-accent(href="#speakers") سخنران‌ها
							a.button.radius.button-blue(href="#ticket") ثبت نام در همایش

				section.column--small-6.column--xsmall-12
					.column--inner
						.hero--header-mast
							.social
								a.social-link(href="mailto:contact@wsschool.org" target="_self")
									i.fa.fa-2x.fa-envelope
								a.social-link(href="http://instagram.com/wsschool_org" target="_blank")
									i.fa.fa-2x.fa-instagram
								a.social-link(href="http://facebook.com/wsschool" target="_blank")
									i.fa.fa-2x.fa-facebook
								a.social-link(href="http://twitter.com/wsschool_org" target="_blank")
									i.fa.fa-2x.fa-twitter
